# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
* @tem-energy/back-devs

# tem. admins must review all changes to GitHub config, specifically CODEOWNERS
.github/* @tem-energy/admins
.github/CODEOWNERS @tem-energy/admins
