# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# LOCKDOWN for Security Groups
# ec2-bastion-server is on lockdown until it is updated to use 
# cloudposse/terraform-aws-security-group v0.4.3 or later

# These owners will be the default owners for everything
*             @cloudposse/admins
