# Compiled files
**/*.tfstate
**/*.tfstate.backup
**/*.terraform.tfstate*

# Module directory
.idea
*.iml
**/.terraform

# Test/build
.build-harness
build-harness
**/.test-harness
test.log
test/src/vendor/
test/src/.gopath/
